@media (max-width: 680px) {
	body {
		background-size: 500% !important;
		height: 100vh !important;
	}

	// Home page styles

	.nav-wrapper {
		align-items: center !important;
		padding-left: 0px !important;
	}

	.nav-wrapper > .left-side {
		margin: 20px !important;
	}

	.nav-wrapper > .nav-link-wrapper {
		margin: 20px !important;
	}

	.logo-img-wrapper img {
		height: 100px !important;
		padding-left: 85px !important;
	}

	.auth-page-wrapper > .right-side {
		position: fixed !important;
		left: 9px !important;
		right: -75px !important;
		margin-right: 85px !important;
	}

	// Contact page styles

	.content-page-wrapper {
		position: fixed !important;
		left: auto !important;
		right: 0 !important;
		margin-right: 30px !important;
	}

	.content-page-wrapper img {
		background: none !important;
		visibility: hidden !important;
	}

	// View Sets styles

	.fourms-container {
		display: flex !important;
		align-items: center !important;
		justify-content: center !important;
		padding-left: 200px !important;
		font-size: 10px !important;
		margin-top: 42px !important;
	}

	.fourms-container span {
		display: flex !important;
		align-items: center !important;
		justify-content: center !important;
		font-size: 12px !important;
		margin-bottom: 10px !important;
	}

	.fourms-wrapper {
		justify-content: center !important;
		margin-right: 205px !important;
	}

	.fourms-wrapper > .fourms-container {
		width: 365px !important;
	}

	// Add new set

	.content-container {
		display: flex !important;
		align-items: center !important;
		justify-content: center !important;
		font-size: 15px !important;
		margin-left: 75px !important;

		h1 {
			font-size: 35px !important;
			margin-left: 30px !important;
		}
	}

	.new-post-link {
		left: 5px !important;
		margin: 7px !important;
	}

	.content {
		display: flex !important;
		justify-content: center !important;
		text-align: center !important;
		width: 200px !important;
		margin-left: 5px !important;
		word-wrap: break-word !important;
	}

	.ReactModal__Content {
		width: 95% !important;
		height: 75% !important;
		margin: 0 auto !important;
	}
}
